<header id="page-header">
  <h1><%= pluralize(@entries.size, 'Entry') %></h1>
</header>

<div>
  <% @entries.each do |entry| %>
  <ul>
    <li>
      Name: <%= link_to entry.name, entry %>
    </li>
    <li>
      Year: <%= entry.year%>
    </li>
    <li>
      Selection: <%= entry.selection.title %>
    </li>
    <li>
      Student: <%= entry.student.name %>
    </li>
  </ul>

  <% end %>
</div>

  <footer>
    <%= link_to 'Home Page', root_path %>
    <%= link_to 'Add an Entry', new_entry_path %>
  </footer>
