<header id="page-header">
  <h1>
    <%= @entry.name %><br/>
    <%= @entry.student.name %>
  </h1>
</header>

<div>
<ul>
  <li>
    Year: <%= @entry.year%>
  </li>
  <li>
    Selection: <%= @entry.selection.title %>
  </li>
</ul>
</div>

<footer>
  <%= link_to 'Edit Entry', edit_entry_path %>
  <%= link_to 'Delete Entry', @entry, method: :delete, data: {confirm: "Are you sure you want to permanently delete this entry?"} %>
  <%= link_to 'Home Page', root_path %>
</footer>
