<%= form_for(@student) do |f| %>
<%= @student.errors.full_messages.to_sentence %>
<fieldset>
<p>
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :grad_year %><br/>
  <%= f.text_field :grad_year %>
</p>

</fieldset>

<p id="form-button">
  <%= f.submit %>
  <%= link_to 'Cancel', students_path %>
</p>


<% end %>
