<header>
  <h1><%= pluralize(@students.size, "Student") %><h1>
</header>

<% @students.each do |student| %>
<ul>
  <li>
    <%= link_to(student.name, student) %>
    <%= student.grad_year %>
  </li>
</ul>
<% end %>

<footer>
  <%= link_to 'Home Page', root_path %>
  <%= link_to 'Add a Student', new_student_path %>
</footer>
