<header>
  <h1><%= @student.name %></h1>
</header>

  <ul>
    <li><%=@student.grad_year %></li>
  </ul>

<% if @entries.any? %>
  <h3>Selections</h3>
  <ul>
    <% @entries.each do |selection| %>
    <li> <%= link_to selection.title, selection %> <%= selection.voicing %>
    </li>
    <% end %>
  </ul>
<% end %>


  <footer>
    <%= link_to 'Home page', root_path %>
    <%= link_to 'All Students', students_path %>
    <%= link_to 'Edit Student', edit_student_path(@student) %>
    <%= link_to 'Delete Student', @student, method: :delete, data: {confirm: 'Are you sure you want to permanently delete this student?'} %>
  </footer>
