<header id="page-header">
  <h1><%= pluralize(@selections.size, "Selection") %><h1>
</header>

<div>
  <% @selections.each do |selection| %>
  <ul>
    <li>
      <%= link_to selection.title, selection %><br/>
      <%= selection.voicing %>
    </li>
  </ul>
    <% end %>
</div>


<footer>
  <%= link_to 'Home page', root_path %>
  <%= link_to 'Add a Selection', new_selection_path %>
</footer>
