<header>
  <h1><%= @selection.title %><h1>
  </header>

  <article>
    <ul>
      <li>Composer: <%= @selection.composer %></li>
      <li>Publisher: <%=@selection.publisher %></li>
      <li>Voicing: <%= @selection.voicing %></li>
      <li>PML: <%= @selection.pml %></li>
      <li>notes: <%= @selection.notes %></li>
    </ul>
  </article>

  <% if @entries.any? %>
    <h3>Students</h3>
    <ul>
      <% @entries.each do |student| %>
      <li> <%= link_to student.name, student %> <%= student.grad_year %>
      </li>
      <% end %>
    </ul>
  <% end %>
  <footer>
    <%= link_to 'Home Page', root_path %>
    <%= link_to 'All Selections', selections_path %>
    <%= link_to 'Edit Selection', edit_selection_path(@selection) %>
    <%= link_to 'Delete Selection', @selection, method: :delete, data: {confirm: 'Are you sure you want to permanently delete this selection?'} %>
    <%= button_to 'Add an Entry', selection_entries_path(@selection) %>
  </footer>
